

.login_navbar {
    display: flex;
    align-items: center;
    gap: 15px;
}


.connec {
    padding: 8px 15px;
    background-color: #ffC107;
    border-radius: 9px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    color: black;
    font-family: Poppins;
    font-size: 14px;
    
}
.link{
    text-decoration: none;
    
}

.insc {
    font-weight: 700;
    color: #0096FF;
    cursor: pointer;
    transition: color 0.3s ease;
}

.link2{
    text-decoration: none;
    color: #0096FF;
    cursor: pointer;
    transition: color 0.3s ease;
}
.link2:hover{
    text-decoration: underline;
    text-decoration-color: #00A6FB; 
    transition: text-decoration-color 0.3s ease-in-out;
    color: #0095ffb1;
}
.connec:hover {
    background-color: #FFA000; 
    border: 1px solid #000000; 
    transition: all 0.3s ease-in-out; 
}
.link:hover {
    background-color: #FFA000;  
    transition: all 0.3s ease-in-out; 
}
.insc:hover {
    text-decoration: underline;
    text-decoration-color: #00A6FB; 
    transition: text-decoration-color 0.3s ease-in-out;
}