
.haut {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #ddd;
    height: 50px;
    padding: 10px 20px;
}

.taches {
    margin-left: 300px;
    font-size: 13px;
    position: absolute;
    top: 10px;
    width: 80%;
    margin-right: 6rem;
}

.uno, .dos, .trese {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.uno {
    gap: 10px;
}

.dos {
    gap: 10px;
}

.icon_taches {
    width: 23px;
}

.trese {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

.modif {
    color: rgb(195, 199, 202);
}

.daily_task {
    margin-left: 100px;
    margin-top: 20px;
}

.tit {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.oui {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-right: 100px;
    margin-top: 20px;
}

.tab, .calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.img_tab, .img_calendar {
    width: 25px;
}

.new {
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    width: 120px;
    height: 36px;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 9px;
    font-weight: 700;
    font-size: 16px;
    gap: 5px;
    margin-left: auto;
}

.img_new {
    filter: invert(1);
    width: 25px;     
}

.process{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-top: 15px;
}

.process1, .process2, .process3{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    gap: 5px;
    font-weight: 600;
}

.point1, .point2, .point3{
    width: 15px;
    margin-left: 2px;
}

.process1{
    width: 150px;
    background-color: rgba(246, 92, 92, 0.504);
    border-radius: 12px;
    padding: 1px;
}
.p, .pp, .ppp{
    color: rgb(84, 81, 78);
}
.process2{
    width: 150px;
    background-color: rgba(251, 133, 49, 0.579);
    border-radius: 12px;
    padding: 1px;
}
.process3{
    width: 150px;
    background-color: rgba(140, 248, 77, 0.579);
    border-radius: 12px;
    padding: 1px;
}

.pam1, .pam2, .pam3{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
    font-weight: 600;
}
.pam{
    border: 2px solid #ddd;
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
}
.pama{
    border: 2px solid #ddd;
    margin-top: 10px;
    width: 250px;
    border-radius: 10px; 
}
.pamar, .pamar1{
    border: 2px solid #ddd;
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
}
.img_1, .img_2, .img_3{
    width: 25px;
    margin-left: 15px;
}

.p2, .p1, .p3{
    margin-left: 20px; 
}
.pam4{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    height: 30px;
    gap: 5px;
}
.imomo{
    width: 20px;
    margin-left: 10px;
}